// Add "important!" to proporties to override Sharepoint style "corev15.css"
.btn {
    border-radius: $btn-border-radius !important;
    font-size: 10px !important;
    font-family: 'Droid Arabic Kufi', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

//.float-e-margins .btn {
//    margin-bottom: 5px  !important;
//}
.btn-w-m {
    min-width: 120px !important;
}

.btn-primary.btn-outline {
    color: $navy !important;
}

.btn-success.btn-outline {
    color: $blue !important;
}

.btn-info.btn-outline {
    color: $lazur !important;
}

.btn-warning.btn-outline {
    color: $yellow !important;
}

.btn-danger.btn-outline {
    color: $red !important;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff !important;
}

.btn-primary,
.btn-primary:visited {
    background-color: $navy !important;
    border-color: $navy !important;
    color: #FFFFFF !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary.active:hover,
.btn-primary.active:focus {
    background-color: darken($navy, 3%) !important;
    border-color: darken($navy, 3%) !important;
    color: #FFFFFF !important;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none !important;
}

.btn-primary.disabled,
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled:active,
.btn-primary.disabled.active,
.btn-primary[disabled],
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:active,
.btn-primary.active[disabled],
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary.active {
    background-color: lighten($navy, 4%) !important;
    border-color: lighten($navy, 4%) !important;
}

.btn-success,
.btn-success:visited {
    background-color: $blue !important;
    border-color: $blue !important;
    color: #FFFFFF !important;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success,
.btn-success:active:focus,
.btn-success:active:hover,
.btn-success.active:hover,
.btn-success.active:focus {
    background-color: darken($blue, 3%) !important;
    border-color: darken($blue, 3%) !important;
    color: #FFFFFF !important;
}

.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
    background-image: none !important;
}

.btn-success.disabled,
.btn-success.disabled:hover,
.btn-success.disabled:focus,
.btn-success.disabled:active,
.btn-success.disabled.active,
.btn-success[disabled],
.btn-success[disabled]:hover,
.btn-success[disabled]:focus,
.btn-success[disabled]:active,
.btn-success.active[disabled],
fieldset[disabled] .btn-success,
fieldset[disabled] .btn-success:hover,
fieldset[disabled] .btn-success:focus,
fieldset[disabled] .btn-success:active,
fieldset[disabled] .btn-success.active {
    background-color: lighten($blue, 4%) !important;
    border-color: lighten($blue, 4%) !important;
}

.btn-info,
.btn-info:visited {
    background-color: $lazur !important;
    border-color: $lazur !important;
    color: #FFFFFF !important;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info,
.btn-info:active:focus,
.btn-info:active:hover,
.btn-info.active:hover,
.btn-info.active:focus {
    background-color: darken($lazur, 3%) !important;
    border-color: darken($lazur, 3%) !important;
    color: #FFFFFF !important;
}

.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
    background-image: none !important;
}

.btn-info.disabled,
.btn-info.disabled:hover,
.btn-info.disabled:focus,
.btn-info.disabled:active,
.btn-info.disabled.active,
.btn-info[disabled],
.btn-info[disabled]:hover,
.btn-info[disabled]:focus,
.btn-info[disabled]:active,
.btn-info.active[disabled],
fieldset[disabled] .btn-info,
fieldset[disabled] .btn-info:hover,
fieldset[disabled] .btn-info:focus,
fieldset[disabled] .btn-info:active,
fieldset[disabled] .btn-info.active {
    background-color: lighten($lazur, 4%) !important;
    border-color: lighten($lazur, 4%) !important;
}

.btn-default,
.btn-default:visited {
    color: inherit !important;
    background: white !important;
    border: 1px solid $border-color !important;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default,
.btn-default:active:focus,
.btn-default:active:hover,
.btn-default.active:hover,
.btn-default.active:focus {
    color: inherit !important;
    border: 1px solid #d2d2d2 !important;
}

.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15) inset !important;
}

.btn-default.disabled,
.btn-default.disabled:hover,
.btn-default.disabled:focus,
.btn-default.disabled:active,
.btn-default.disabled.active,
.btn-default[disabled],
.btn-default[disabled]:hover,
.btn-default[disabled]:focus,
.btn-default[disabled]:active,
.btn-default.active[disabled],
fieldset[disabled] .btn-default,
fieldset[disabled] .btn-default:hover,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-default:active,
fieldset[disabled] .btn-default.active {
    color: #cacaca !important;
}

.btn-warning,
.btn-warning:visited {
    background-color: $yellow !important;
    border-color: $yellow !important;
    color: #FFFFFF !important;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning,
.btn-warning:active:focus,
.btn-warning:active:hover,
.btn-warning.active:hover,
.btn-warning.active:focus {
    background-color: darken($yellow, 3%) !important;
    border-color: darken($yellow, 3%) !important;
    color: #FFFFFF !important;
}

.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
    background-image: none !important;
}

.btn-warning.disabled,
.btn-warning.disabled:hover,
.btn-warning.disabled:focus,
.btn-warning.disabled:active,
.btn-warning.disabled.active,
.btn-warning[disabled],
.btn-warning[disabled]:hover,
.btn-warning[disabled]:focus,
.btn-warning[disabled]:active,
.btn-warning.active[disabled],
fieldset[disabled] .btn-warning,
fieldset[disabled] .btn-warning:hover,
fieldset[disabled] .btn-warning:focus,
fieldset[disabled] .btn-warning:active,
fieldset[disabled] .btn-warning.active {
    background-color: lighten($yellow, 4%) !important;
    border-color: lighten($yellow, 4%) !important;
}

.btn-danger,
.btn-danger:visited {
    background-color: $red !important;
    border-color: $red !important;
    color: #FFFFFF !important;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger,
.btn-danger:active:focus,
.btn-danger:active:hover,
.btn-danger.active:hover,
.btn-danger.active:focus {
    background-color: darken($red, 3%) !important;
    border-color: darken($red, 3%) !important;
    color: #FFFFFF !important;
}

.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
    background-image: none !important;
}

.btn-danger.disabled,
.btn-danger.disabled:hover,
.btn-danger.disabled:focus,
.btn-danger.disabled:active,
.btn-danger.disabled.active,
.btn-danger[disabled],
.btn-danger[disabled]:hover,
.btn-danger[disabled]:focus,
.btn-danger[disabled]:active,
.btn-danger.active[disabled],
fieldset[disabled] .btn-danger,
fieldset[disabled] .btn-danger:hover,
fieldset[disabled] .btn-danger:focus,
fieldset[disabled] .btn-danger:active,
fieldset[disabled] .btn-danger.active {
    background-color: lighten($red, 4%) !important;
    border-color: lighten($red, 4%) !important;
}

.btn-link {
    color: inherit !important;
}

.btn-link:hover,
.btn-link:focus,
.btn-link:active,
.btn-link.active,
.open .dropdown-toggle.btn-link {
    color: $navy !important;
    text-decoration: none !important;
}

.btn-link:active,
.btn-link.active,
.open .dropdown-toggle.btn-link {
    background-image: none !important;
}

.btn-link.disabled,
.btn-link.disabled:hover,
.btn-link.disabled:focus,
.btn-link.disabled:active,
.btn-link.disabled.active,
.btn-link[disabled],
.btn-link[disabled]:hover,
.btn-link[disabled]:focus,
.btn-link[disabled]:active,
.btn-link.active[disabled],
fieldset[disabled] .btn-link,
fieldset[disabled] .btn-link:hover,
fieldset[disabled] .btn-link:focus,
fieldset[disabled] .btn-link:active,
fieldset[disabled] .btn-link.active {
    color: #cacaca !important;
}

.btn-white {
    color: inherit !important;
    background: white !important;
    border: 1px solid $border-color !important;
}

.btn-white:hover,
.btn-white:focus,
.btn-white:active,
.btn-white.active,
.open .dropdown-toggle.btn-white,
.btn-white:active:focus,
.btn-white:active:hover,
.btn-white.active:hover,
.btn-white.active:focus {
    color: inherit !important;
    border: 1px solid #d2d2d2 !important;
}

.btn-white:active,
.btn-white.active {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15) inset !important;
}

.btn-white:active,
.btn-white.active,
.open .dropdown-toggle.btn-white {
    background-image: none !important;
}

.btn-white.disabled,
.btn-white.disabled:hover,
.btn-white.disabled:focus,
.btn-white.disabled:active,
.btn-white.disabled.active,
.btn-white[disabled],
.btn-white[disabled]:hover,
.btn-white[disabled]:focus,
.btn-white[disabled]:active,
.btn-white.active[disabled],
fieldset[disabled] .btn-white,
fieldset[disabled] .btn-white:hover,
fieldset[disabled] .btn-white:focus,
fieldset[disabled] .btn-white:active,
fieldset[disabled] .btn-white.active {
    color: #cacaca !important;
}

.form-control,
.form-control:focus,
.has-error .form-control:focus,
.has-success .form-control:focus,
.has-warning .form-control:focus,
.navbar-collapse,
.navbar-form,
.navbar-form-custom .form-control:focus,
.navbar-form-custom .form-control:hover,
.open .btn.dropdown-toggle,
.panel,
.popover,
.progress,
.progress-bar {
    box-shadow: none !important;
}

.btn-outline {
    color: inherit !important;
    background-color: transparent !important;
    transition: all .5s !important;
}

.btn-rounded {
    border-radius: 50px !important;
}

.btn-large-dim {
    width: 90px !important;
    height: 90px !important;
    font-size: 42px !important;
}

button.dim {
    display: inline-block !important;
    text-decoration: none !important;
    text-transform: uppercase !important;
    text-align: center !important;
    padding-top: 6px !important;
    margin-right: 10px !important;
    position: relative !important;
    cursor: pointer !important;
    border-radius: 5px !important;
    font-weight: 600 !important;
    margin-bottom: 20px !important;
}

button.dim:active {
    top: 3px !important;
}

button.btn-primary.dim {
    box-shadow: inset 0 0 0 darken($navy, 6%), 0 5px 0 0 darken($navy, 6%), 0 10px 5px #999 !important;
}

button.btn-primary.dim:active {
    box-shadow: inset 0 0 0 darken($navy, 6%), 0 2px 0 0 darken($navy, 6%), 0 5px 3px #999 !important;
}

button.btn-default.dim {
    box-shadow: inset 0 0 0 darken($dark-gray, 6%), 0 5px 0 0 darken($dark-gray, 6%), 0 10px 5px #999 !important;
}

button.btn-default.dim:active {
    box-shadow: inset 0 0 0 darken($dark-gray, 6%), 0 2px 0 0 darken($dark-gray, 6%), 0 5px 3px #999 !important;
}

button.btn-warning.dim {
    box-shadow: inset 0 0 0 darken($yellow, 6%), 0 5px 0 0 darken($yellow, 6%), 0 10px 5px #999 !important;
}

button.btn-warning.dim:active {
    box-shadow: inset 0 0 0 darken($yellow, 6%), 0 2px 0 0 darken($yellow, 6%), 0 5px 3px #999 !important;
}

button.btn-info.dim {
    box-shadow: inset 0 0 0 darken($lazur, 6%), 0 5px 0 0 darken($lazur, 6%), 0 10px 5px #999 !important;
}

button.btn-info.dim:active {
    box-shadow: inset 0 0 0 darken($lazur, 6%), 0 2px 0 0 darken($lazur, 6%), 0 5px 3px #999 !important;
}

button.btn-success.dim {
    box-shadow: inset 0 0 0 darken($blue, 6%), 0 5px 0 0 darken($blue, 6%), 0 10px 5px #999 !important;
}

button.btn-success.dim:active {
    box-shadow: inset 0 0 0 darken($blue, 6%), 0 2px 0 0 darken($blue, 6%), 0 5px 3px #999 !important;
}

button.btn-danger.dim {
    box-shadow: inset 0 0 0 darken($red, 6%), 0 5px 0 0 darken($red, 6%), 0 10px 5px #999 !important;
}

button.btn-danger.dim:active {
    box-shadow: inset 0 0 0 darken($red, 6%), 0 2px 0 0 darken($red, 6%), 0 5px 3px #999 !important;
}

button.dim:before {
    font-size: 50px !important;
    line-height: 1em !important;
    font-weight: normal !important;
    color: #fff !important;
    display: block !important;
    padding-top: 10px !important;
}

button.dim:active:before {
    top: 7px !important;
    font-size: 50px !important;
}

.btn:focus {
    outline: none !important;
}

.input-group-btn:first-child>.btn,
.input-group-btn:first-child>.btn-group {
    padding: 9px 12px !important;
}

.input-group-btn:last-child>.btn,
.input-group-btn:last-child>.btn-group {
    padding: 9px 12px !important;
}