@import "weather";

// news-bar in dashboard

#s4-bodyContainer {
    padding-bottom: 0;
}

// news-bar in dashboard

$news-bar__title__bg: $red;
$news-bar__title__color: $light-blue;
$news-bar__content__bg: $light-blue;
$news-bar__time__color: $blue;
$news-bar__time__bg: darken($light-blue, 5%);


.news-bar {
  border-top: 0;
  //padding: 20px 0px 20px 20px;
  padding: 0px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  height: 30px;
  > * {
    display: flex;
    align-items: center;
  }
  .news-bar__title {
    padding-left: 20px;
    padding-right: 20px;
    background-color: $news-bar__title__bg;
    color: $news-bar__title__color;
    transition: .2s ease;
    display: flex;
    align-items: center;
    i {
      margin-left: 5px;
    }
    &:hover {
      background-color: darken($news-bar__title__bg, 20%); 
    }
  }
  .news-bar__content {
    padding-left: 10px;
    padding-right: 10px;
    background-color: $news-bar__content__bg;
    flex: 1;
    p, a {
      margin-bottom: 0;
      width: 100%;
      max-width: 600px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      transition: .2s ease;
    }
  }
  .news-bar__time {
    padding-right: 10px;
    padding-left: 10px;
    color: $news-bar__time__color;
    background-color: $news-bar__time__bg;
  }
}

// change tooltip font family

.tooltip {
  font-family: 'Droid Arabic Kufi', sans-serif;
}

// meteo-bar in dashboard

.meteo-bar {
  border-top: 0;
  padding: 0px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  height: 30px;
  background-image: url(https://images.pexels.com/photos/125457/pexels-photo-125457.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb);
  background-position: bottom;
  background-size: cover;
  background-color: #1c84c6;
  background-blend-mode: overlay;
  .meteo-bar__content {
    color: white;
    display: flex;
    align-items: center;
  }


}

// slick custom
.slick_custom_buttons {
    .slick-prev, .slick-next {
        top: 35px;
    }
    .slick-next {
        left: 45px;
    }
    .slick-prev {
        left: 25px;
        z-index: 1;
    }
    .slick-slide {
        direction: rtl;
    }
    .ibox__content {
        h2 {
            width: calc(100% - 55px);
        }
    }
}

// Custom Boxes

$box-style_light : #8BC34A;
$box-style_dark: #009688;

.ibox__-style {
    .ibox__title {
        background-image: linear-gradient(to right, $box-style_light 0%, $box-style_dark 100%);
    }
}

.ibox {
    &__title {
        @include linearGradient(right, $blueLagoon_light, $blueLagoon_dark);
    }
    &__content {
        ol, ul {
            padding-right: 10px;
        }
        li {
            margin-bottom: 10px;
            text-align: justify;
        }
    }
    &
    .slick_custom_buttons .slick-prev, .slick_custom_buttons .slick-next {
        top: auto;
        bottom: 10px;
    }
    .slick-prev:before, .slick-next:before {
        //color: rgba(255, 255, 255, 0.45) !important;
    }
    &--security {
        .ibox__title {
            background: #00c3ff; /* fallback for old browsers */
            background: -webkit-linear-gradient(to left, #00c3ff , #ffff1c); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to left, #00c3ff , #ffff1c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
    }
}

// navbar-style
.header-style {
    position: relative;
    min-height: 120px;
    &__actions {
        .btn {
            margin: 0;
            margin-left: 5px;
        }
    }
    &__title {
        padding-right: 20px;
        position: absolute;
        top: 50%;
        right: 0px;
        z-index: 2;
        color: white;
        transform: translateY(-50%);
        width: 100%;
        display: flex;
        align-items: center;
        h2 {
            margin-top: 0;
        }
    }
    &__particles {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #258dc8;
        background-image: linear-gradient(to right, #258dc8 0%, #1ab394 100%);
        z-index: 0;
    }
    .breadcrumb {
        background: transparent;
    }
}

// Panel
.panel-heading {
    border: 1px solid #e7eaec;
    @include headings() {
        margin: 0;
        font-size: 12px;
    }
}

// Form
label {
    margin-top: 5px;
    margin-bottom: 5px;
}

textarea {
    max-width: 100%;
}

// Profile Widget
.profile {
    &__img-container {
        padding: 0;
    }
    &__content {}
}

// Progress Bar
.progress {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

//Form
.form-flex {
    display: flex;
    > * {
        &:nth-child(1) {
            flex: 1;
            max-width: 100px;
            border-left-width: 0 !important;
        }
        &:nth-child(2) {
            flex: 3;
        }
    }
}

//Wizard
.wizard {
    > .content {
        background: #f7f7f7;
        border: 1px solid #eee;
    }
    ul {
        display: flex;
        > li {
            flex: 1;
        }
    }
}

//toast
.toast-close-button {
    width: auto !important;
}

//
.has-success {
    em {
        display: block;
        width: 100%;
        background: pink;
        position: absolute;
        top: 100%;
        right: 0;   
    }
}

//noUi-base
.noUi-base {
    direction: ltr;
}

//Steps
.select2-container {
    width: 100% !important;
}

//make select2 height equal to input.form-control
//$height-input: 34px;

.select2-container .select2-selection--single {
    height: 34px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 34px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 34px;
}
.select2-container--default .select2-selection--single, .select2-container--default .select2-selection--multiple {
    border-color: #ccc;
}

// Calendars

.calendars-month span {
  border-radius: 0;
}