@import "weather";

// news-bar in dashboard

#s4-bodyContainer {
    padding-bottom: 0;
}

// news-bar in dashboard

$news-bar__title__bg: $red;
$news-bar__title__color: $light-blue;
$news-bar__content__bg: $light-blue;
$news-bar__time__color: $blue;
$news-bar__time__bg: darken($light-blue, 5%);


.news-bar {
  border-top: 0;
  //padding: 20px 0px 20px 20px;
  padding: 0px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  height: 30px;
  > * {
    display: flex;
    align-items: center;
  }
  .news-bar__title {
    padding-left: 20px;
    padding-right: 20px;
    background-color: $news-bar__title__bg;
    color: $news-bar__title__color;
    transition: .2s ease;
    display: flex;
    align-items: center;
    i {
      margin-left: 5px;
    }
    &:hover {
      background-color: darken($news-bar__title__bg, 20%); 
    }
  }
  .news-bar__content {
    padding-left: 10px;
    padding-right: 10px;
    background-color: $news-bar__content__bg;
    flex: 1;
    p, a {
      margin-bottom: 0;
      width: 100%;
      max-width: 600px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      transition: .2s ease;
    }
  }
  .news-bar__time {
    padding-right: 10px;
    padding-left: 10px;
    color: $news-bar__time__color;
    background-color: $news-bar__time__bg;
  }
}

// change tooltip font family

.tooltip {
  font-family: 'Droid Arabic Kufi', sans-serif;
}

// meteo-bar in dashboard

.meteo-bar {
  border-top: 0;
  padding: 0px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  height: 30px;
  background-image: url(https://images.pexels.com/photos/125457/pexels-photo-125457.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb);
  background-position: bottom;
  background-size: cover;
  background-color: #1c84c6;
  background-blend-mode: overlay;
  .meteo-bar__content {
    color: white;
    display: flex;
    align-items: center;
  }


}

// slick custom
.slick_custom_buttons {
    .slick-prev, .slick-next {
        top: 35px;
    }
    .slick-next {
        left: 45px;
    }
    .slick-prev {
        left: 25px;
        z-index: 1;
    }
    .slick-slide {
        direction: rtl;
    }
    .ibox__content {
        h2 {
            width: calc(100% - 55px);
        }
    }
}

// Custom Boxes
$box-style_light : #8BC34A;
$box-style_dark: #009688;

.ibox__-style {
    .ibox__title {
        background-image: linear-gradient(to right, $box-style_light 0%, $box-style_dark 100%);
    }
}

.ibox {
    &__title {
        @include linearGradient(right, $blueLagoon_light, $blueLagoon_dark);
    }
    &__content {
        ol, ul {
            padding-right: 10px;
        }
        li {
            margin-bottom: 10px;
            text-align: justify;
        }
    }
    &
    .slick_custom_buttons .slick-prev, .slick_custom_buttons .slick-next {
        top: auto;
        bottom: 10px;
    }
    .slick-prev:before, .slick-next:before {
        //color: rgba(255, 255, 255, 0.45) !important;
    }
    &--security {
        .ibox__title {
            background: #00c3ff; /* fallback for old browsers */
            background: -webkit-linear-gradient(to left, #00c3ff , #ffff1c); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to left, #00c3ff , #ffff1c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
    }
}

// navbar-style
.header-style {
    position: relative;
    min-height: 120px;
    &__actions {
        .btn {
            margin: 0;
            margin-left: 5px;
            &:visited {
                color: #fff;
            }
        }
    }
    &__title {
        padding-right: 20px;
        position: absolute;
        top: 50%;
        right: 0px;
        z-index: 2;
        color: white;
        transform: translateY(-50%);
        width: 100%;
        display: flex;
        align-items: center;
        h2 {
            margin-top: 0;
        }
    }
    &__particles {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #258dc8;
        background-image: linear-gradient(to right, #258dc8 0%, #1ab394 100%);
        z-index: 0;
    }
    .breadcrumb {
        background: transparent;
    }
    &__logout {
        position: absolute;
        left: 10px;
        button {
            background-color: $red;
        }
    }
}

// Panel
.panel-heading {
    border: 1px solid #e7eaec;
    @include headings() {
        margin: 0;
        font-size: 12px;
    }
}

// Form
label {
    margin-top: 5px;
    margin-bottom: 5px;
}

textarea {
    max-width: 100%;
}

// Profile Widget
.profile {
    &__img-container {
        padding: 0;
    }
    &__content {}
}

// Progress Bar
.progress {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

//Form
.form-flex {
    display: flex;
    > * {
        &:nth-child(1) {
            flex: 1;
            max-width: 100px;
            border-left-width: 0 !important;
        }
        &:nth-child(2) {
            flex: 3;
        }
    }
}

//Wizard
.wizard {
    > .content {
        background: #f7f7f7;
        border: 1px solid #eee;
    }
    ul {
        display: flex;
        padding: 0;
        > li {
            flex: 1;
        }
    }
}

//toast
.toast-close-button {
    width: auto !important;
}

//
.has-success {
    em {
        display: block;
        width: 100%;
        background: pink;
        position: absolute;
        top: 100%;
        right: 0;   
    }
}

//noUi-base
.noUi-base {
    direction: ltr;
}

//Steps
.select2-container {
    width: 100% !important;
}

//make select2 height equal to input.form-control
//$height-input: 34px;
.select2-container .select2-selection--single {
    height: 34px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 34px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 34px;
}
.select2-container--default .select2-selection--single, .select2-container--default .select2-selection--multiple {
    border-color: #ccc;
}

// Calendars
.calendars-month span {
  border-radius: 0;
}

//Error label //JQuery Steps
.input-group {
    .error {
        width: 100%;
        border-style: solid;
        border-color: #fbc2c4;
        border-width: 0 1px 1px 1px;
        border-radius: 0 0 0 4px;
        margin: 0 !important;
        background-color: #fff;
        padding: 3px 5px;
    }
}

.wizard > .steps a,
.wizard > .steps a:hover,
.wizard > .steps a:active {
    display: block;
    width: auto;
    margin: 0 0.5em 0.5em;
    padding: 8px;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.wizard > .content > .body label.error {
    color: $red;
}

.wizard > .steps .error a,
.wizard > .steps .error a:hover,
.wizard > .steps .error a:active {
    background: $red;
    color: #fff;
}

//iCheck
.i-checks {
    &__label {
        border: 3px solid #ccc;
        border-radius: 3px;
        width: 100%;
        padding: 10px;
        display: inline-flex !important;
        flex-direction: row;
        margin-bottom: 0.5em;
        transition: .2s ease-in-out;
        cursor: pointer;
        span {
            margin-right: 10px;
            display: flex;
            align-items: center;
            &:nth-child(1) {
                flex: 3;
            }
            &:nth-child(2) {
                flex: 1;
            }
        }
        &__name {
            flex: 4;
        }
        &__credit {
            flex: 1;
            max-width: 50px;
            justify-content: center;
            border-radius: 50px;
            color: #fff;
            background-color: darken($lazur, 5%);
        }
        &:hover {
            border-color: darken($blue, 10%);
        }
        &--active {
            border-color: darken($blue, 5%);
            background-color: $blue;
            color: #fff;
            span {
                //color: $navy;
            }
            &:hover {
                border-color: darken($blue, 10%);
            }
            .i-checks__label__credit {
                background-color: darken($blue, 10%) !important;
            }
        }
    }
}

//Table
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: middle;
}

//form-group
.form-group {
    transition: .2s ease-in-out;
}

//Sweet Alert
.sweet-alert {
    font-family: 'Droid Arabic Kufi', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    p {
        font-size: 12px;
//        font-family: 'Droid Arabic Kufi', "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    h2 {
//        font-family: 'Droid Arabic Kufi', "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
}

//Tabs
.nav-tabs {
    &.style {
        border-bottom: none;
        > li {
            margin-left: 1em;
            > a {
                margin-left: auto;
                margin-right: 0;
                border-radius: 40px;
                &:hover, &:focus {
                    background-color: #f6f6f6;
                }
            }
            &.active {
                > a {
                    background-color: $blue;
                    border-color: #DDDDDD;
                    border-bottom: #DDDDDD;
                    border-image: none;
                    border-style: solid;
                    border-width: 1px;
                    color: #fff;
                    cursor: default;
                }
            }
        }
    }
}

//Custom Css for Login Page / SharePoint
table[id$='loginControl'] {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

//Fix Knob Bug
.knob {
    margin: 0 !important;
    width: 57px !important;
    height: 57px !important;
    border-radius: 60px !important;
    border: 5px solid #607D8B  !important;
}

.flexCenter {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

//Tour
.tour {
    min-width: 280px;
    font-family: 'Droid Arabic Kufi', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px;
    .popover-title {
        font-size: 12px;
    }
}
