// news-bar in dashboard

#s4-bodyContainer {
    padding-bottom: 0;
}

// news-bar in dashboard

$news-bar__title__bg: $red;
$news-bar__title__color: $light-blue;
$news-bar__content__bg: $light-blue;
$news-bar__time__color: $blue;
$news-bar__time__bg: darken($light-blue, 5%);


.news-bar {
  border-top: 0;
  //padding: 20px 0px 20px 20px;
  padding: 0px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  height: 30px;
  > * {
    display: flex;
    align-items: center;
  }
  .news-bar__title {
    padding-left: 20px;
    padding-right: 20px;
    background-color: $news-bar__title__bg;
    color: $news-bar__title__color;
    transition: .2s ease;
    display: flex;
    align-items: center;
    i {
      margin-left: 5px;
    }
    &:hover {
      background-color: darken($news-bar__title__bg, 20%); 
    }
  }
  .news-bar__content {
    padding-left: 10px;
    padding-right: 10px;
    background-color: $news-bar__content__bg;
    flex: 1;
    p, a {
      margin-bottom: 0;
      width: 100%;
      max-width: 600px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      transition: .2s ease;
    }
  }
  .news-bar__time {
    padding-right: 10px;
    padding-left: 10px;
    color: $news-bar__time__color;
    background-color: $news-bar__time__bg;
  }
}

// change tooltip font family

.tooltip {
  font-family: 'Droid Arabic Kufi', sans-serif;
}

// meteo-bar in dashboard

.meteo-bar {
  border-top: 0;
  padding: 0px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  height: 30px;
  background-image: url(https://images.pexels.com/photos/125457/pexels-photo-125457.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb);
  background-position: bottom;
  background-size: cover;
  background-color: #1c84c6;
  background-blend-mode: overlay;
  .meteo-bar__content {
    color: white;
    display: flex;
    align-items: center;
  }


}

// slick custom
.slick_custom_buttons {
    .slick-prev, .slick-next {
        top: 35px;
    }
    .slick-next {
        left: 45px;
    }
    .slick-prev {
        left: 25px;
        z-index: 1;
    }
    .slick-slide {
        direction: rtl;
    }
    .ibox-content {
        h2 {
            width: calc(100% - 55px);
        }
    }
}

// Custom Boxes
.box--style-1 {
    .ibox__title {
        @include linearGradient(right, $blueLagoon_light, $blueLagoon_dark);
        background-color: transparent;
        color: #fff;
        padding: 10px;
        min-height: 0;
        border-top: none;
        transition: all .5s ease-in-out;
        h5 {
            float: none;
            margin: 0;
            font-size: 10px;
        }
    }
    .ibox__content {
        background-color: rgb(255, 255, 255);
        border-color: transparent;
        //min-height: 100px;
        border-width: 0 1px 1px 1px;
        border-style: solid;
        border-color: rgba(#e7eaec, .7);
        min-height: 120px;
        transition: .5s ease-in-out;
        &:hover {
            border-color: rgba(#e7eaec, .9);
        }
    }
    .slick_custom_buttons .slick-prev, .slick_custom_buttons .slick-next {
        top: auto;
        bottom: 10px;
    }
    .slick-prev:before, .slick-next:before {
        //color: rgba(255, 255, 255, 0.45) !important;
    }
}

// navbar-style
.header-style {
    position: relative;
    min-height: 120px;
    &__title {
        padding-right: 20px;
        position: absolute;
        top: 25px;
        right: 0;
        z-index: 1;
        color: white;
    }
    &__particles {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #258dc8;
        background-image: linear-gradient(to right, #258dc8 0%, #1ab394 100%);
        z-index: 0;
    }
    .breadcrumb {
        background: transparent;
    }
}