@mixin linearGradient($direction, $color1, $color2) {
    background: $color1; /*Old Browser*/
    background-image: -webkit-linear-gradient($direction, $color1 0%, $color2 100%);
    background-image: -o-linear-gradient(to $direction, $color1 0%, $color2 100%);
    background-image: linear-gradient(to $direction, $color1 0%, $color2 100%);
}