//RTL Support
body.rtls {
    #page-wrapper {
        margin: 0 220px 0 0;
    }
    .nav-second-level li a {
        padding: 7px 35px 7px 10px;
    }
    .ibox__title h5 {
//        float: right;
    }
    .pull-right {
        float: left !important;
    }
    .pull-left {
        float: right !important;
    }
    .ibox__tools {
        float: left;
    }
    .stat-percent {
        float: left;
    }
    .navbar-right {
        float: left !important;
    }
    .navbar-top-links li:last-child {
        margin-left: 40px;
        margin-right: 0;
    }
    .minimalize-styl-2 {
        float: right;
        margin: 14px 20px 5px 5px;
        &:nth-child(2) {
            margin-right: 0px;
        }
    }
    .feed-element > .pull-left {
        margin-left: 10px;
        margin-right: 0;
    }
    .timeline-item .date {
        text-align: left;
    }
    .timeline-item .date i {
        left: 0;
        right: auto;
    }
    .timeline-item .content {
        border-right: 1px solid #e7eaec;
        border-left: none;
    }
    .theme-config {
        left: 0;
        right: auto;
    }
    .spin-icon {
        border-radius: 0 20px 20px 0;
    }
    .toast-close-button {
        float: left;
    }
    #toast-container > .toast:before {
        margin: auto -1.5em auto 0.5em;
    }
    #toast-container > div {
        padding: 15px 50px 15px 15px;
    }
    .center-orientation .vertical-timeline-icon i {
        margin-left: 0;
        margin-right: -12px;
    }
    .vertical-timeline-icon i {
        right: 50%;
        left: auto;
        margin-left: auto;
        margin-right: -12px;
    }
    .file-box {
        float: right;
    }
    ul.notes li {
        float: right;
    }
    .chat-users,
    .chat-statistic {
        margin-right: -30px;
        margin-left: auto;
    }
    .dropdown-menu > li > a {
        text-align: right;
    }
    .b-r {
        border-left: 1px solid #e7eaec;
        border-right: none;
    }
    .dd-list .dd-list {
        padding-right: 30px;
        padding-left: 0;
    }
    .dd-item > button {
        float: right
    }
    /* Theme config */
    .theme-config-box {
        margin-left: -220px;
        margin-right: 0;
    }
    .theme-config-box.show {
        margin-left: 0;
        margin-right: 0;
    }
    .spin-icon {
        right: 0;
        left: auto;
    }
    .skin-setttings {
        margin-right: 40px;
        margin-left: 0;
    }
    .skin-setttings {
        direction: ltr;
    }
    .footer.fixed {
        margin-right: 220px;
        margin-left: 0;
    }
    .note-editor {
        .col-xs-1,
        .col-sm-1,
        .col-md-1,
        .col-lg-1,
        .col-xs-2,
        .col-sm-2,
        .col-md-2,
        .col-lg-2,
        .col-xs-3,
        .col-sm-3,
        .col-md-3,
        .col-lg-3,
        .col-xs-4,
        .col-sm-4,
        .col-md-4,
        .col-lg-4,
        .col-xs-5,
        .col-sm-5,
        .col-md-5,
        .col-lg-5,
        .col-xs-6,
        .col-sm-6,
        .col-md-6,
        .col-lg-6,
        .col-xs-7,
        .col-sm-7,
        .col-md-7,
        .col-lg-7,
        .col-xs-8,
        .col-sm-8,
        .col-md-8,
        .col-lg-8,
        .col-xs-9,
        .col-sm-9,
        .col-md-9,
        .col-lg-9,
        .col-xs-10,
        .col-sm-10,
        .col-md-10,
        .col-lg-10,
        .col-xs-11,
        .col-sm-11,
        .col-md-11,
        .col-lg-11,
        .col-xs-12,
        .col-sm-12,
        .col-md-12,
        .col-lg-12 {
            float: right;
        }
    }
    .tag-list li {
        float: right;
    }
    .metismenu .plus-minus,
    .metismenu .plus-times {
        float: left;
    }
    .metismenu .arrow {
        float: left;
        line-height: 1.42857
    }
    .fixed-nav.fixed-nav-basic .navbar-fixed-top {
        left: auto;
        right: 220px;
    }
    .slick-slider {
        direction: ltr;
    }
    // datepicker
    .datepicker {
        direction: rtl;
        right: auto;
    }
    // tabs
    .tabs-container .nav-tabs > li {
        float: right;
        margin-bottom: -1px;
    }
    //ibox__tools
    .ibox__tools {
        float: left;
    }
    //JQuery Steps
    .wizard > .steps > ul > li, .wizard > .actions > ul > li {
        float: right;
    }
    
    // fix the ".input-group-addon:first-child" in the RTL mode
    .input-group-addon:first-child {
        border: 1px solid #ccc;
        border-left: 0;
    }
    .input-group-addon:not(:first-child) {
        border: 1px solid #ccc;
        border-right: 0;
    }
    
    //bootstrap-touchspin
    .bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-up {
        border-radius: 0;
        border-top-left-radius: 4px;
        border-top-right-radius: 0;
    }
    .bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-down {
        margin-top: -2px;
        border-radius: 0;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 0;
    }
    .calendars-month {
        float: right;
    }
    
    /* DATATABLES */

    table.dataTable thead .sorting,
    table.dataTable thead .sorting_asc:after,
    table.dataTable thead .sorting_desc,
    table.dataTable thead .sorting_asc_disabled,
    table.dataTable thead .sorting_desc_disabled {
        background: transparent;
    }

    .dataTables_wrapper {
        padding-bottom: 30px;
    }

    .dataTables_length {
        float: right;
    }

    .dataTables_filter label {
        margin-left: 5px;
    }
    .html5buttons {
        float: left;
    }

    .html5buttons a {
        border: 1px solid #e7eaec;
        background: #fff;
        color: #676a6c;
        box-shadow: none;
        padding: 6px 8px;
        font-size: 12px;
        &:hover,
        &:focus:active {
            background-color: #eee;
            color: inherit;
            border-color: #d2d2d2;
        }
    }

    div.dt-button-info {
        z-index: 100;
    }

    @media (max-width: 768px) {
        .html5buttons {
            float: none;
            margin-top: 10px;
        }
        .dataTables_length {
            float: none;
        }
    }


}

@media (max-width: 992px) {
    body.rtls {
        .chat-users,
        .chat-statistic {
            margin-right: 0;
        }
    }
}

body.rtls.mini-navbar .footer.fixed,
body.body-small.mini-navbar .footer.fixed {
    margin: 0 70px 0 0;
}

body.rtls.mini-navbar.fixed-sidebar .footer.fixed,
body.body-small.mini-navbar .footer.fixed {
    margin: 0 0 0 0;
}

body.rtls.top-navigation .navbar-toggle {
    float: right;
    margin-left: 15px;
    margin-right: 15px;
}

.body-small.rtls.top-navigation .navbar-header {
    float: none;
}

body.rtls.top-navigation #page-wrapper {
    margin: 0;
}

body.rtls.mini-navbar #page-wrapper {
    margin: 0 70px 0 0;
}

body.rtls.mini-navbar.fixed-sidebar #page-wrapper {
    margin: 0 0 0 0;
}

body.rtls.body-small.fixed-sidebar.mini-navbar #page-wrapper {
    margin: 0 $sidebar-width 0 0;
}

body.rtls.body-small.fixed-sidebar.mini-navbar .navbar-static-side {
    width: $sidebar-width;
}

.body-small.rtls .navbar-fixed-top {
    margin-right: 0;
}

.body-small.rtls .navbar-header {
    float: right;
}

body.rtls .navbar-top-links li:last-child {
    margin-left: 20px;
}

body.rtls .top-navigation #page-wrapper,
body.rtls.mini-navbar .top-navigation #page-wrapper,
body.rtls.mini-navbar.top-navigation #page-wrapper {
    margin: 0;
}

body.rtls .top-navigation .footer.fixed,
body.rtls.top-navigation .footer.fixed {
    margin: 0;
}

@media (max-width: 768px) {
    body.rtls .navbar-top-links li:last-child {
        margin-left: 20px;
    }
    .body-small.rtls #page-wrapper {
        position: inherit;
        margin: 0 0 0 0;
        min-height: 1000px;
    }
    .body-small.rtls .navbar-static-side {
        display: none;
        z-index: 2001;
        position: absolute;
        width: 70px;
    }
    .body-small.rtls.mini-navbar .navbar-static-side {
        display: block;
    }
    .rtls.fixed-sidebar.body-small .navbar-static-side {
        display: none;
        z-index: 2001;
        position: fixed;
        width: $sidebar-width;
    }
    .rtls.fixed-sidebar.body-small.mini-navbar .navbar-static-side {
        display: block;
        right: 0;
    }
}

// For special ltr supporting plugin
.rtls .ltr-support {
    direction: ltr;
}

.rtls.mini-navbar .nav-second-level,
.rtls.mini-navbar li.active .nav-second-level {
    left: auto;
    right: 70px;
}

.rtls #right-sidebar {
    left: -260px;
    right: auto;
}

.rtls #right-sidebar.sidebar-open {
    left: 0;
}