//Weather
////// Weather Icons //////
//@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css);

//Material Icons
//@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

$weather_stats: #01A7A6;
$weather_bg_color: $weather_stats;
//$weather_bg: url(https://static.pexels.com/photos/115045/pexels-photo-115045.jpeg);
//$weather_bg: url(patterns/kornich-north.jpg);

.weather {
  //background-color: pink;
  width: 100%;
  margin: 10px auto;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  &__hero {
    width: 100%;
    min-height: 150px;
    position: relative;
    &__image {
      overflow: hidden;
      //background-image: $weather_bg;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      min-height: 200px;
      background-color: $weather_bg_color;
      img {
        max-width: 100%;
      }
      &:after, &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        //height: 100%;
        width: 100%;
        z-index: 0;
      }
      &:after {
        background-image: linear-gradient(to left, transparent 65%, rgba(139, 195, 74, 0.37) 80%);
      }
      &:before {
        background-image: linear-gradient(to right, transparent 65%, rgba(233, 30, 99, 0.38) 80%);
      }
    }
    &__place {
      position: absolute;
      top: 10%;
      left: 0;
      color: #fff;
      z-index: 1;
      span {
        font-size: 11px;
        background-color: rgba(0, 0, 0, .5);
        padding: 5px 20px 5px 25px;
        border-radius: 0 50px 50px 0 ;
        margin-bottom: 10px;
        color: #fff;
        display: flex;
        align-items: center;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        i {
          margin-left: 5px;
          font-size: 22px;
        }
      }
    }
    &__info {
      position: absolute;
      bottom: 10%;
      z-index: 1;
      span {
        font-size: 11px;
        background-color: rgba(0, 0, 0, .5);
        padding: 3px 20px;
        border-radius: 80px 0 0 80px;
        color: #fff;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      }
      i {
        margin-left: 10px;
        font-size: 10px;
      }
    }
  }
  &__stats {
    background-color: $weather_stats;
    min-height: 80px;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    text-align: center;
    color: #fff;
    &__today {
      flex: 1;
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;
      height: 100%;
      border-right: 1px solid rgba(darken($weather_stats, 25%), .1);
      min-width: 200px;
      i {
        font-size: 48px;
      }
      &__degree {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        //background-color: pink;
        .degree {
          font-size: 52px;
          font-weight: normal;
        }
        .badge {
          font-size: 11px;
          background-color: rgba(0, 0, 0, .2);
          padding: 5px 20px;
          border-radius: 5px;
          color: #fff;
        }
      }
    }
    &__otherdays {
      flex: 3;
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      padding-right: 10px;
      padding-left: 10px;
      > div {
        flex: 1;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        padding: 10px;
        border-radius: 5px;
        transition: .2s ease-in-out;
        .badge {
          font-size: 10px;
          background-color: rgba(0, 0, 0, .2);
          padding: 5px 20px;
          border-radius: 5px;
          margin-bottom: 10px;
          color: #d9d9d9;
        }
        .icon {
          margin-bottom: 10px;
          i {
            font-size: 28px;
          }
        }
        .degree {
          font-size: 18px;
        }
        &:hover {
          background-color: #eecb65;
          cursor: help;
          .badge {
            color: #fff;
          }
        }
      }
    }
  }
  
}

.weather--small { 
  max-width: 350px;
  position: relative;
  .weather {
    &__hero {
      height: 300px;
      &__image {
        height: 100%;
        transition: .8s ease-in-out;
      }
    }
    &__stats {
      display: flex;
      flex-direction: column;
      background-color: #E91E63;
      background: linear-gradient(to bottom, #141E30 , #243B55);
      &__today {
        border-right: none;
        margin-bottom: 20px;
      }
      &__otherdays {
        width: 100%;
        flex-direction: column;
        > div {
          flex-direction: row;
          border-radius: 0;
          max-width: 250px;
          width: 100%;
          padding: 0px;
          margin: 0px auto 5px;
          background-color: rgba(0, 0, 0, .1);
          > * {
            margin-bottom: 0;
            display: flex;
            align-items: center;
            padding: 10px;
            margin: 0 5px;
          }
          .icon {
            order: 2;
          }
          .badge {
            min-width: 80px;
            justify-content: center;
          }
          &:hover {
            background-color: rgba(0, 0, 0, .2);
          }
        }
      }
    }
  }
}