/*
 *
 *   Theme for: Jazan Emirate
 *   URL: jazan.gov.sa
 *   Author: Jazan Dev Team
 *   Description: Dashboard for the internal portal of Jazan Emirate
 *   version: 1.0
 *
*/

// Variables, Mixins
@import "variables";
@import "mixins";

// Theme Elements
@import "fonts";
//@import "plugins/font-awesome/scss/font-awesome";
@import "plugins/bourbon/bourbon";
@import "typography";
@import "navigation";
@import "top_navigation";
@import "buttons";
@import "badgets_labels";
@import "elements";
@import "sidebar";
@import "base";
@import "pages";
@import "chat";
@import "metismenu";
@import "spinners";

// Landing page styles
@import "landing";

// RTL Support
@import "rtl";

// For demo only - config box style
@import "theme-config";

// INSPINIA Skins
@import "skins";
@import "md-skin";

// Media query style
@import "media";

// Custom style
// Your custom style to override base style
@import "flowchart";
@import "custom";


// Clear layout on print mode
@media print {
  nav.navbar-static-side {
    display: none;
  }
  body { overflow: visible !important; }

  #page-wrapper {
    margin: 0;
  }
}
