<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>إمارة منطقة جازان</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/plugins/bootstrap-rtl/bootstrap-rtl.min.css" rel="stylesheet">

    <!-- Toastr style -->
    <link href="css/plugins/toastr/toastr.min.css" rel="stylesheet">

    <!-- Gritter -->
    <link href="js/plugins/gritter/jquery.gritter.css" rel="stylesheet">

    <!-- c3 Charts -->
    <link href="css/plugins/c3/c3.min.css" rel="stylesheet">

    <!-- Material Icons -->
    <!--    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->

    <link href="css/plugins/iCheck/custom.css" rel="stylesheet">

    <link href="css/plugins/chosen/bootstrap-chosen.css" rel="stylesheet">

    <link href="css/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet">

    <link href="css/plugins/colorpicker/bootstrap-colorpicker.min.css" rel="stylesheet">

    <link href="css/plugins/cropper/cropper.min.css" rel="stylesheet">

    <link href="css/plugins/switchery/switchery.css" rel="stylesheet">

    <link href="css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">

    <link href="http://keith-wood.name/css/jquery.datepick.css" rel="stylesheet">

    <link href="css/plugins/nouslider/jquery.nouislider.css" rel="stylesheet">

    <link href="css/plugins/datapicker/datepicker3.css" rel="stylesheet">

    <link href="css/plugins/ionRangeSlider/ion.rangeSlider.css" rel="stylesheet">
    <link href="css/plugins/ionRangeSlider/ion.rangeSlider.skinFlat.css" rel="stylesheet">

    <link href="css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">

    <link href="css/plugins/clockpicker/clockpicker.css" rel="stylesheet">

    <link href="css/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet">

    <link href="css/plugins/select2/select2.min.css" rel="stylesheet">

    <link href="css/plugins/nouslider/jquery.nouislider.css" rel="stylesheet">

    <link href="css/plugins/switchery/switchery.css" rel="stylesheet">

    <link href="css/plugins/touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet">

    <link href="css/plugins/dualListbox/bootstrap-duallistbox.min.css" rel="stylesheet">

    <link href="css/plugins/slick/slick.css" rel="stylesheet">
    <link href="css/plugins/slick/slick-theme.css" rel="stylesheet">

    <link href="css/plugins/steps/jquery.steps.css" rel="stylesheet">

    <!-- Bootstrap Tour -->
    <link href="css/plugins/bootstrapTour/bootstrap-tour.min.css" rel="stylesheet">

    <!-- Sweet Alert -->
    <link href="css/plugins/sweetalert/sweetalert.css" rel="stylesheet">


    <link href="js/plugins/calendars/jquery.calendars.picker.css" rel="stylesheet">

    <link href="css/animate.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

</head>

<body class="jaz rtls fixed-sidebar fixed-nav fixed-nav-basic">
    <form id="my-form" action="">
        <div class="menu menu--opened animated fadeInDown collapse" id="collapseExample">
            <ul class="menu__items">
                <li class="menu__item">
                    <a href="" class="menu__item__icon">
                        <i class="fa fa-user"></i>
                        <span>بياناتي</span>
                    </a>
                </li>
                <li class="menu__item">
                    <a href="" class="menu__item__icon">
                        <i class="fa fa-calendar"></i>
                        <span>إجازاتي</span>
                    </a>
                </li>
                <li class="menu__item">
                    <a href="" class="menu__item__icon">
                        <i class="fa fa-users"></i>
                        <span>بيانات الاتصال</span>
                    </a>
                </li>
                <li class="menu__item">
                    <a href="" class="menu__item__icon">
                        <i class="fa fa-envelope"></i>
                        <span>بريد الكتروني</span>
                    </a>
                </li>
                <li class="menu__close">
                    <button class="close" type="button" data-toggle="collapse" data-target="#collapseExample" aria-exapnded="false" aria-controls="collapseExample">
                        &times;
                    </button>
                </li>
            </ul>

        </div>
        <div id="wrapper" class="">
            <!--navigation-->
            <nav class="navbar-default navbar-static-side nav-style-1" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav metismenu" id="side-menu">
                        <li class="nav-header">
                            <div class="dropdown profile-element">
                                <div class="profile-element__img">
                                    <img alt="image" class="" src="img/doc.jpg" />
                                </div>
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                    <div class="clear">
                                        <h2 class="block m-t-xs profile-element__name">
                                            <strong class="font-bold">د. سعد المقرن بن مقرن</strong>
                                        </h2>
                                        <h4 class="block profile-element__title">وكيل إمارة منطقة جازان
                                            <!--<b class="caret"></b>-->
                                        </h4>
                                    </div>
                                </a>
                                <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                    <li><a href="profile.html">الملف الشخصي</a></li>
                                    <li><a href="contacts.html">جهات الاتصال</a></li>
                                    <li><a href="mailbox.html">صندوق البريد</a></li>
                                    <li class="divider"></li>
                                    <li><a href="login.html">خروج</a></li>
                                </ul>
                            </div>
                            <div class="logo-element">

                            </div>
                        </li>
                        <li class="active fadeIn animated">
                            <a href="index.html"><i class="fa fa-th-large"></i><span class="nav-label">لوحة التحكم</span> </a>
                        </li>
                        <li class="fadeIn animated">
                            <a href="mailbox.html"><i class="fa fa-envelope"></i><span class="nav-label">البريد الالكتروني </span><span class="label label-warning pull-right">16/24</span></a>
                            <ul class="nav nav-second-level collapse">
                                <li><a href="mailbox.html">البريد الالكتروني</a></li>
                                <li><a href="mail_detail.html">مثال لبريد الكتروني</a></li>
                                <li><a href="mail_compose.html">إرسال بريد الكتروني</a></li>
                                <li><a href="email_template.html">المسودات</a></li>
                            </ul>
                        </li>
                        <li class="fadeIn animated">
                            <a href="profile.html"><i class="fa fa-user"></i><span class="nav-label">البيانات الشخصية</span></a>
                        </li>
                        <li class="fadeIn animated">
                            <a href="inquiry.html"><i class="fa fa-check-square"></i><span class="nav-label">كشف حضوري وانصرافي</span></a>
                        </li>
                        <li class="fadeIn animated">
                            <a href="index.html"><i class="fa fa-th-large"></i><span class="nav-label">طلبات الاجازات</span></a>
                        </li>
                        <li class="fadeIn animated">
                            <a href="index.html"><i class="fa fa-th-large"></i><span class="nav-label">الدورات التدريبية</span></a>
                        </li>
                        <li class="fadeIn animated">
                            <a href="index.html"><i class="fa fa-th-large"></i><span class="nav-label">الأخبار</span></a>
                        </li>
                        <li class="fadeIn animated">
                            <a href="index.html"><i class="fa fa-th-large"></i><span class="nav-label">التحويلات الداخلية</span></a>
                        </li>
                    </ul>

                </div>
            </nav>
            <!--page wrapper-->
            <div id="page-wrapper" class="gray-bg dashbard-1 page-wrapper--down">
                <!--topnavbar-->
                <div class="row header-style navbar-fixed-top">
                    <!--

    -->

                    <div class="header-style__title ui-sortable">
                        <div class="header-style__actions">
                            <a class="navbar-minimalize minimalize-styl-2 btn btn-success" href="#">
                                <i class="fa fa-bars"></i>
                            </a>
                            <a class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseExample" aria-exapnded="false" aria-controls="collapseExample">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                        <h2>مرحبا بك في لوحة التحكم الخاصة بك</h2>
                        <div class="header-style__logout">
                            <button class="btn btn-danger" type="button"><i class="fa fa-power-off"></i>&nbsp;&nbsp;<span class="bold">تسجيل خروج</span></button>
                        </div>

                    </div>
                    <div class="header-style__particles" id="particles-js"></div>
                </div>


                <div class="page-wrapper__inner">
                    <div class="row">
                        <div class="col-lg-8">

                            <div class="ibox">
                                <div class="ibox__title">
                                    <h5>تقديم إجازة</h5>
                                </div>
                                <div class="ibox__content">
                                    <h2>
                                        إستمارة تقديم إجازة
                                    </h2>
                                    <p>
                                        تفضل بتعمير كافة البيانات المطلوبة لتقديم إجازة.
                                        <a href="#" class="btn btn-primary startTour"><i class="fa fa-play"></i> مساعدة</a>
                                    </p>


                                    <div id="vacationSteps" role="form" data-toggle="validator" ng-app="">
                                        <h1>تفاصيل</h1>
                                        <div class="fieldset">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="row form-group" id="step1">
                                                        <label class="col-sm-3 control-label">
                                                            إختر نوع الإجازة
                                                        </label>

                                                        <div class="col-sm-4">
                                                            <div class="i-checks"><label> <input id="normal" type="radio" value="0000" name="RbTypeVac" ng-model="TypeVac"> <i></i> إجازة عادية </label></div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="i-checks"><label> <input id="emergency" type="radio" value="1111" name="RbTypeVac" ng-model="TypeVac"> <i></i> إجازة إضطرارية </label></div>
                                                        </div>
                                                    </div>

                                                    <div class="hr-line-dashed"></div>

                                                    <div class="row form-group" id="step2">
                                                        <label class="col-sm-3 control-label">
                                                            بداية الإجازة
                                                        </label>
                                                        <div class="col-sm-9">
                                                            <input type="text" name="vacationStart" class="vacationStart form-control required" data-mask="99/99/9999" placeholder="إختر بداية الإجازة" ng-model="vacationStart">

                                                            <span class="help-block m-b-none">بداية الإجازة ينطلق من يوم الغد.</span>
                                                        </div>
                                                    </div>

                                                    <div class="hr-line-dashed"></div>

                                                    <div class="row form-group" id="step3">
                                                        <label class="col-sm-3 control-label">
                                                            إختر الرصيد
                                                        </label>
                                                        <div class="col-sm-4">
                                                            <input type="text" value="0" class="oldCredit knob" data-linecap=round data-fgColor="#1AB394" data-width="85" data-height="85" data-angleOffset=90 data-displayPrevious=true ng-model="oldCredit" />
                                                            <p class="text-center">
                                                                رصيد قديم
                                                            </p>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <input type="text" value="0" class="newCredit knob" data-fgColor="#1c84c6" data-width="85" data-height="85" data-linecap=round data-angleOffset=90 data-displayPrevious=true  ng-model="newCredit" />
                                                            <p class="text-center">رصيد جديد</p>
                                                        </div>
                                                    </div>

                                                    <div class="hr-line-dashed"></div>

                                                    <div class="row form-group" id="step4">
                                                        <label class="col-sm-3 control-label">
                                                            مجموع أيام الإجازة
                                                        </label>
                                                        <div class="col-sm-9">
                                                            <input type="text" readonly placeholder="مجموع الرصيد..." class="totalVacation form-control" ng-model="totalVacation">
                                                            <span class="help-block m-b-none">مجموع أيام الإجازة لا يمكن أن يتجاوز رصيدك السنوي.</span>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                        <h1>اختيار نائب</h1>
                                        <div class="fieldset">
                                            <h4>اختر نائب</h4>
                                            <div class="row form-group" id="step4">
                                                <label class="col-sm-3 control-label">
                                                    مجموع أيام الإجازة
                                                </label>
                                                <div class="col-sm-9">
                                                    <select class="employee" id="example" ng-model="employee">
                                                      <option value="1">1</option>
                                                      <option value="2">2</option>
                                                      <option value="3">3</option>
                                                      <option value="4">4</option>
                                                    </select>
                                                </div>
                                            </div>

                                        </div>
                                        <h1>تأكيد الطلب</h1>
                                        <div class="fieldset">
                                            <h4>تقرير الطلب</h4>
                                            <div class="report">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="col-sm-6 control-label">نوع الإجازة</label>
                                                            <div class="col-sm-6">
                                                                <p class="repType">نوع الإجازة</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="hr-line-dashed"></div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="col-sm-6 control-label">بداية الإجازة</label>
                                                            <div class="col-sm-6">
                                                                <p class="repStartDate">1437/05/12</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="hr-line-dashed"></div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="col-sm-6 control-label">رصيد قديم</label>
                                                            <div class="col-sm-6">
                                                                <p class="repOldCredit">21</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="col-sm-6 control-label"><i class="fa fa-clock-o"></i>رصيد جديد</label>
                                                            <div class="col-sm-6">
                                                                <p class="repNewCredit">5</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="hr-line-dashed"></div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="col-sm-6 control-label">مجموع أيام الإجازة</label>
                                                            <div class="col-sm-6">
                                                                <p class="repTotal">26</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="hr-line-dashed"></div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="col-sm-6 control-label">النائب</label>
                                                            <div class="col-sm-6">
                                                                <p class="repEmployee">النائب</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4">

                            <div class="ibox">
                                <div class="ibox__title">
                                    <h5>طلبات جارية</h5>
                                </div>

                                <div>
                                    <div class="ibox__content">
                                        <table class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>تاريخ الطلب</th>
                                                    <th>المدة</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>12/10/2015</td>
                                                    <td>20 يوم</td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>12/10/2015</td>
                                                    <td>20 يوم</td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>12/10/2015</td>
                                                    <td>20 يوم</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div data-toggle="modal" href="#enCours" class="btn btn-xs btn-info btn-block">كل الطلبات الجارية</div>
                                        <div id="enCours" class="modal fade" aria-hidden="true">
                                            <div class="modal-dialog modal-lg">
                                                <div class="modal-content">
                                                    <div id="printInProgress" class="modal-body">
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="visible-print-block">
                                                                    <h2>ertyui</h2>
                                                                </div>
                                                                <h3 class="m-t-none m-b">كل الطلبات الجارية</h3>
                                                                <div>
                                                                    <table class="table table-bordered table-hover">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>#</th>
                                                                                <th>تاريخ الطلب</th>
                                                                                <th>المدة</th>
                                                                                <th>الرصيد</th>
                                                                                <th>المعوض</th>
                                                                                <th class="no-print">--</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>1</td>
                                                                                <td>12/10/2015</td>
                                                                                <td>20 يوم</td>
                                                                                <td>القديم</td>
                                                                                <td>محمد عبد الله</td>
                                                                                <td class="no-print">
                                                                                    <button class="btn btn-xs btn-default" type="button">تعديل</button>
                                                                                    <button class="btn btn-xs btn-default" type="button">تعديل</button>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>2</td>
                                                                                <td>12/10/2015</td>
                                                                                <td>20 يوم</td>
                                                                                <td>القديم</td>
                                                                                <td>محمد عبد الله</td>
                                                                                <td class="no-print">
                                                                                    <button class="btn btn-xs btn-default" type="button">تعديل</button>
                                                                                    <button class="btn btn-xs btn-default" type="button">تعديل</button>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>3</td>
                                                                                <td>12/10/2015</td>
                                                                                <td>20 يوم</td>
                                                                                <td>القديم</td>
                                                                                <td>محمد عبد الله</td>
                                                                                <td class="no-print">
                                                                                    <button class="btn btn-xs btn-default" type="button">تعديل</button>
                                                                                    <button class="btn btn-xs btn-default" type="button">تعديل</button>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">إغلاق</button>
                                                        <button id="printInProgressBtn" type="button" class="btn btn-sm btn-primary">طباعة</button>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="ibox box--style float-e-margins">
                                <div class="ibox__title back-change">
                                    <h5>الطلبات السابقة</h5>
                                    <div class="ibox__tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                        <a class="close-link">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox__content">
                                    <div class="form-group">
                                        <label class="font-noraml col-sm-4">إختيار السنة</label>
                                        <div class="col-sm-8">
                                            <select id="example-movie" name="rating" class="select2">
                                              <option value="1">1435</option>
                                              <option value="2">1436</option>
                                              <option value="3" selected="selected">1437</option>
                                              <option value="4">1438</option>
                                            </select>
                                        </div>
                                    </div>
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>تاريخ الطلب</th>
                                                <th>المدة</th>
                                                <th>الحالة</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>12/10/2015</td>
                                                <td>20 يوم</td>
                                                <td class="text-navy"> <i class="fa fa-level-up"></i> قبول </td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>12/10/2015</td>
                                                <td>20 يوم</td>
                                                <td class="text-danger"> <i class="fa fa-level-down"></i> رفض </td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>12/10/2015</td>
                                                <td>20 يوم</td>
                                                <td class="text-navy"> <i class="fa fa-level-up"></i> قبول </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div data-toggle="modal" href="#modal-form" class="btn btn-xs btn-primary btn-block">كل الطلبات</div>
                                    <div id="modal-form" class="modal fade" aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div id="printReport" class="modal-body">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <h3 class="m-t-none m-b">كل الطلبات</h3>
                                                            <div>
                                                                <table class="table table-bordered table-hover">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>#</th>
                                                                            <th>تاريخ الطلب</th>
                                                                            <th>المدة</th>
                                                                            <th>الرصيد</th>
                                                                            <th>المعوض</th>
                                                                            <th>المدير المباشر</th>
                                                                            <th class="">الحالة</th>
                                                                            <th class="no-print">--</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>1</td>
                                                                            <td>12/10/2015</td>
                                                                            <td>20 يوم</td>
                                                                            <td>القديم</td>
                                                                            <td>محمد عبد الله</td>
                                                                            <td>أحمد عبد الله</td>
                                                                            <td class="text-navy"> <i class="fa fa-level-up"></i> قبول </td>
                                                                            <td class="no-print">
                                                                                <button class="btn btn-xs btn-default" type="button">تعديل</button>
                                                                                <button class="btn btn-xs btn-default" type="button">تعديل</button>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>2</td>
                                                                            <td>12/10/2015</td>
                                                                            <td>20 يوم</td>
                                                                            <td>القديم</td>
                                                                            <td>محمد عبد الله</td>
                                                                            <td>أحمد عبد الله</td>
                                                                            <td class="text-navy"> <i class="fa fa-level-up"></i> قبول </td>
                                                                            <td class="no-print">
                                                                                <button class="btn btn-xs btn-default" type="button">تعديل</button>
                                                                                <button class="btn btn-xs btn-default" type="button">تعديل</button>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>3</td>
                                                                            <td>12/10/2015</td>
                                                                            <td>20 يوم</td>
                                                                            <td>القديم</td>
                                                                            <td>محمد عبد الله</td>
                                                                            <td>أحمد عبد الله</td>
                                                                            <td class="text-danger"> <i class="fa fa-level-down"></i> رفض </td>
                                                                            <td class="no-print">
                                                                                <button class="btn btn-xs btn-default" type="button">تعديل</button>
                                                                                <button class="btn btn-xs btn-default" type="button">تعديل</button>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">إغلاق</button>
                                                    <button id="printBtn" type="button" class="btn btn-sm btn-primary">طباعة</button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>

            </div>

        </div>
    </form>


    <!-- Mainly scripts -->
    <script src="js/jquery-2.1.1.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Flot -->
    <script src="js/plugins/flot/jquery.flot.js"></script>
    <script src="js/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script src="js/plugins/flot/jquery.flot.spline.js"></script>
    <script src="js/plugins/flot/jquery.flot.resize.js"></script>
    <script src="js/plugins/flot/jquery.flot.pie.js"></script>

    <!-- Peity -->
    <script src="js/plugins/peity/jquery.peity.min.js"></script>

    <!-- d3 and c3 charts -->
    <script src="js/plugins/d3/d3.min.js"></script>
    <script src="js/plugins/c3/c3.min.js"></script>

    <script src="js/plugins/pace/pace.min.js"></script>

    <!-- jQuery UI -->
    <script src="js/plugins/jquery-ui/jquery-ui.min.js"></script>

    <!-- GITTER -->
    <script src="js/plugins/gritter/jquery.gritter.min.js"></script>

    <!-- Sparkline -->
    <script src="js/plugins/sparkline/jquery.sparkline.min.js"></script>

    <!-- jQuery Print -->
    <script src="js/plugins/jQuery.print-master/jQuery.print.js"></script>

    <!-- ChartJS-->
    <script src="js/plugins/chartJs/Chart.min.js"></script>

    <!-- Toastr -->
    <script src="js/plugins/toastr/toastr.min.js"></script>

    <!-- Input Mask-->
    <script src="js/plugins/jasny/jasny-bootstrap.min.js"></script>

    <!-- Particles -->
    <script src="js/plugins/particles/particles.min.js"></script>
    <!-- Chosen -->
    <script src="js/plugins/chosen/chosen.jquery.js"></script>

    <!-- JSKnob -->
    <script src="js/plugins/jsKnob/jquery.knob.js"></script>

    <!-- Input Mask-->
    <script src="js/plugins/jasny/jasny-bootstrap.min.js"></script>

    <!-- Data picker -->
    <script src="js/plugins/datapicker/bootstrap-datepicker.js"></script>

    <!-- NouSlider -->
    <script src="js/plugins/nouslider/jquery.nouislider.min.js"></script>

    <!-- Switchery -->
    <script src="js/plugins/switchery/switchery.js"></script>

    <!-- IonRangeSlider -->
    <script src="js/plugins/ionRangeSlider/ion.rangeSlider.min.js"></script>

    <!-- iCheck -->
    <script src="js/plugins/iCheck/icheck.min.js"></script>

    <!-- MENU -->
    <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>

    <!-- Color picker -->
    <script src="js/plugins/colorpicker/bootstrap-colorpicker.min.js"></script>

    <!-- Clock picker -->
    <script src="js/plugins/clockpicker/clockpicker.js"></script>

    <!-- Image cropper -->
    <script src="js/plugins/cropper/cropper.min.js"></script>

    <!-- Date range use moment.js same as full calendar plugin -->
    <script src="js/plugins/fullcalendar/moment.min.js"></script>
    <script src="js/plugins/fullcalendar/moment-hijri.js"></script>

    <!-- NouSlider -->
    <script src="js/plugins/nouslider/jquery.nouislider.min.js"></script>

    <!-- Date range picker -->
    <script src="js/plugins/daterangepicker/daterangepicker.js"></script>

    <!-- Switchery -->
    <script src="js/plugins/switchery/switchery.js"></script>

    <!-- Select2 -->
    <script src="js/plugins/select2/select2.full.min.js"></script>

    <!-- TouchSpin -->
    <script src="js/plugins/touchspin/jquery.bootstrap-touchspin.min.js"></script>

    <!-- Tags Input -->
    <script src="js/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>

    <!-- Dual Listbox -->
    <script src="js/plugins/dualListbox/jquery.bootstrap-duallistbox.js"></script>

    <!-- slick carousel-->
    <script src="js/plugins/slick/slick.min.js"></script>

    <!-- Steps -->
    <script src="js/plugins/staps/jquery.steps.min.js"></script>
    <!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-steps/1.1.0/jquery.steps.min.js"></script>-->

    <!-- Jquery Validate -->
    <!--    <script src="js/plugins/validate/jquery.validate.min.js"></script>-->

    <!-- Bootstrap Validator -->
    <script src="js/plugins/bootstrap-validator/validator.min.js"></script>

    <!-- Sweet alert -->
    <script src="js/plugins/sweetalert/sweetalert.min.js"></script>

    <!-- Morris -->
    <script src="js/plugins/morris/raphael-2.1.0.min.js"></script>
    <script src="js/plugins/morris/morris.js"></script>

    <!-- jquery.calendars -->
    <script src="js/plugins/calendars/jquery.plugin.js"></script>
    <script src="http://keith-wood.name/js/jquery.datepick.js"></script>
    <script src="js/plugins/calendars/jquery.calendars.js"></script>
    <script src="js/plugins/calendars/jquery.calendars.plus.js"></script>
    <script src="js/plugins/calendars/jquery.calendars.picker.js"></script>
    <script src="js/plugins/calendars/jquery.calendars.ummalqura.js"></script>

    <!-- JSKnob -->
    <script src="js/plugins/jsKnob/jquery.knob.js"></script>

    <!-- iCheck -->
    <script src="js/plugins/iCheck/icheck.min.js"></script>

    <!-- Bootstrap Tour -->
    <script src="js/plugins/bootstrapTour/bootstrap-tour.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-bar-rating/1.2.2/themes/fontawesome-stars.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-bar-rating/1.2.2/themes/bars-movie.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-bar-rating/1.2.2/jquery.barrating.min.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    
    <!-- Custom and plugin javascript -->
    <script src="js/inspinia.js"></script>

    <!-- Inquiry JS -->
    <script src="js/pages/vacation.js"></script>

    <script>
        $(document).ready(function() {


        });
    </script>


</body>

</html>